:root {
  /* colors */
  --bg-primary: #fff;
  --color-link: #3f65e3;
  --bg-secondary: #242526;
  --bg-secondary-accent: #484a4d;
  --color-text-light: #dadce1;

  /* sizes */
  --size-5: 0.3125rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-25: 1.5625rem;
  --size-30: 1.875rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-320: 20rem;

  /* properties */
  --nav-size: 3.75rem;
  --transition-speed: 150ms;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  background: transparent;
}

.ul-defaults-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

input {
  outline: none;
  border: none;
}

.btn {
  outline: none;
  border: 0;
  background: transparent;
  font-size: var(--size-20);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 0.8rem 2.5rem;
  border-radius: var(--size-30);
}
