body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  background: transparent;
}

.ul-defaults-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
