.portfolio-section {
  padding: 1rem;
}

.portfolio-section h2 {
  display: flex;
  justify-content: center;
}

.portfolio-section .search-container,
.portfolio-section .portfolio-filter-nav {
  gap: var(--size-20);
}

.portfolio-section .search-container,
.portfolio-section label,
.portfolio-section .portfolio-filter-nav {
  display: flex;
  align-items: center;
}

.portfolio-section label {
  position: relative;
}

.portfolio-section label i {
  position: absolute;
  right: 5%;
}

.search-container #search {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  width: 200px;
  padding: 12px 30px 12px 8px;
  font-size: var(--size-20);
}

.search-container #search:focus {
  border: 1px solid #0d86ab;
  box-shadow: 0px 0px 15px 0px rgba(13, 134, 171, 0.3);
}

.portfolio-filter-nav .filter-link {
  cursor: pointer;
}

.portfolio-filter-nav .filter-link.active,
.portfolio-filter-nav .filter-link:hover {
  color: var(--color-link);
}

.portfolio-grid {
  display: flex;
  gap: var(--size-12);
  flex-wrap: wrap;
  padding-top: var(--size-20);
}

.portfolio-grid .portfolio-card {
  --card-size: 255px;
  max-width: var(--card-size);
  height: var(--card-size);
  background-color: red;
  position: relative;
}

.portfolio-grid .portfolio-card:hover {
  cursor: pointer;
}

.portfolio-grid .portfolio-card,
.portfolio-grid .portfolio-card img {
  border-radius: 10px;
}

.portfolio-grid .portfolio-card img {
  width: 100%;
  height: var(--card-size);
  object-fit: cover;
}

.portfolio-card .popup-box {
  --opacity: 0;
  --visibility: hidden;
  opacity: var(--opacity);
  visibility: var(--visibility);
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  position: absolute;
  left: var(--size-20);
  right: var(--size-20);
  bottom: 0;
  padding: 0.8rem 1rem;
  overflow: hidden;
  z-index: 1;
}

.portfolio-card .popup-box:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  opacity: 0.8;
  z-index: -1;
}

.portfolio-card:hover .popup-box {
  --opacity: 1;
  --visibility: visible;
  bottom: var(--size-20);
}
