.slide-in-section {
  position: relative;
}

.slide-in-section .slide {
  --translate-x: 100%;
  --opacity: 0;
  --visibility: hidden;
  left: 50%;
  opacity: var(--opacity);
  visibility: var(--visibility);
  transform: translateX(var(--translate-x));
  transition: all 0.4s ease-in;
  position: absolute;
}

.slide-in-section .slide.active {
  --translate-x: -50%;
  --opacity: 1;
  --visibility: visible;
}
