.slide-in-section {
  position: relative;
}

.slide-in-section .slide {
  --translate-x: 100%;
  --opacity: 0;
  --visibility: hidden;
  left: 50%;
  opacity: var(--opacity);
  visibility: var(--visibility);
  transform: translateX(var(--translate-x));
  transition: all 0.2s ease;
  position: absolute;
}
