:root {
  /* colors */
  --bg-primary: #fff;
  --color-link: #3f65e3;
  --bg-secondary: #242526;
  --bg-secondary-accent: #484a4d;
  --color-text-light: #dadce1;
  --bg-showcase: #161c2d;
  --bg-showcase-panel: #22262e;
  --bg-showcase-header: /* https://grabient.com/HQBgrAzANKAsAcMT0cAjLAnDNYDsOsATDEUSKWicGWlBMHmtA3kS8AGyYRA?style=linearSwatches */
    linear-gradient(
    90deg,
    #05050a 0%,
    #05050a 7.692%,
    #090a0e calc(7.692% + 1px),
    #090a0e 15.385%,
    #0d0e12 calc(15.385% + 1px),
    #0d0e12 23.077%,
    #121316 calc(23.077% + 1px),
    #121316 30.769%,
    #16171a calc(30.769% + 1px),
    #16171a 38.462%,
    #1a1b1e calc(38.462% + 1px),
    #1a1b1e 46.154%,
    #1e1f22 calc(46.154% + 1px),
    #1e1f22 53.846%,
    #222326 calc(53.846% + 1px),
    #222326 61.538%,
    #26272a calc(61.538% + 1px),
    #26272a 69.231%,
    #292a2d calc(69.231% + 1px),
    #292a2d 76.923%,
    #2c2d30 calc(76.923% + 1px),
    #2c2d30 84.615%,
    #2e2f33 calc(84.615% + 1px),
    #2e2f33 92.308%,
    #303135 calc(92.308% + 1px) 100%
  );

  --color-showcase: #fff;

  --grad-1: linear-gradient(to right, #182848, #4b6cb7);

  /* https://grabient.com/HQZhEYBpgNhAOaBOGNrnlYB2EAmdbbabPY4PABgNBkQFZhxsoYK8C9h6AWSyALSVQHaPXBJI4YH0lCcHIA?angle=225 */
  --grad-2: linear-gradient(225deg, #0000ae 0%, #1a14b9 50%, #006598 100%);
}
